<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form action = "{{ url }}" method = "post">
      <div>
        <label for = "email">Email</label>
        <input type = "email" id = "email" name = "email" required>
      </div>
      <div>
        <label for = "password">Password</label>
        <input type = "password" id = "password" name = "password" required>
      </div>
      <div>
        <label for = "password_confirmation">Confirm Password</label>
        <input type = "password" id = "password_confirmation" name = "password_confirmation" required>
      </div>
      <div>
        <button type = "submit">Signup</button>
      </div>
    </form>
  </body>
</html>